@font-face {
  font-family: 'Prompt';
  src: url('/Prompt/Prompt-Regular.ttf') format('truetype'),
       url('/Prompt/Prompt-Medium.ttf') format('truetype'),
       url('/Prompt/Prompt-Light.ttf') format('truetype'),
       url('/Prompt/Prompt-Thin.ttf') format('truetype')
  ;
  font-weight: normal;
  font-style: normal;
}

.swal2-popup {
  font-size: 1rem !important;
  font-family: 'Prompt';
}

:root {
  --font-family: 'Roboto', sans-serif;
}

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}


@import "leaflet/dist/leaflet.css";